.git
.gitignore
.cache
*.md
.editorconfig
docker-compose.yml
Dockerfile
develop.Dockerfile
README.md
.env
node_modules
**/node_modules
**/.vitepress
!docs-site/.vitepress
!docs-site/.vitepress/**
yarn-error.log
